body{
    background: yellow;
}

h1{
    color: green;
    background-color: cyan;
    font-style: italic;
    width: 30%;
    margin: auto;
}

h2{
    font-style: italic;
}

p{
    color: #ff0000;
}

.special{
    color: aqua;
    background: red;
}

#cyan{
    background: cyan;
    width: 50%;
    border: 5px solid blue;
    padding:25px;
    margin:25px;
}

#green{
    background: greenyellow;
    width: 50%;
    border: 5px solid green;padding:25px;
    margin:25px;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}